*
{
    padding: 0px;
    margin: 0px;
}


h1
{
    color: crimson;
    border:5px solid black;
    text-align: center;
    background-image: url(https://th.bing.com/th?id=OIP.PhV7AkRKhPaEk-NFGkuxHwHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    background-size: cover;
}

.parent
{
    color:white;
    display: flex;
    /* flex-direction:row-reverse; */
    /* justify-content: flex-end; */
    /* flex-wrap:wrap-reverse; */
    justify-content: center;
    height:800px ;
    width:800px;
    border: 2px solid black;

    
    
    
}

.child-1
{
    width:300px;
    height: 500px;
    background-color: aqua;
}

.child-1:hover
{
    background-color:greenyellow;
}

.child-1:active
{
    background-color: hotpink;
}

.child-2
{
    width:300px;
    height: 500px;
    background-color:crimson;
    align-self: flex-end;
    transition-property: all;
    transition-duration: 2s;
    
}

.child-2:hover
{
    background-color:greenyellow;
}

.child-2:active
{
    background-color: hotpink;
}


.child-3
{
    width:300px;
    height: 500px;
    background-color:rgb(160, 63, 205);
    align-self: center ;
    
}

.child-4
{
    width:300px;
    height: 500px;
    background-color:rgb(63, 205, 170);
    
}


.child-5
{
    width:300px;
    height: 500px;
    background-color:rgb(63, 205, 117);
    flex-shrink: 2;

    
}


.child-6
{
    width:300px;
    height: 500px;
    background-color:rgb(226, 23, 107);
    flex-shrink:0.5;
    
}